/* footer */
footer {
    background-color: #ffaa01;
    color: white;
    padding: 10px 0;
    text-align: center;
}

.iconos-sociales img {
    width: 24px;
    margin: 0 10px;
    cursor: pointer;
}


.img-icon:hover{
        transform: scale(1.05);
        box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
        transition: transform 0.3s ease, box-shadow 0.3s ease;
    
}