.seccion{
    display: inline-block;
    padding: 20px 30px 20px 30px;
    color: black;
    text-decoration: none;
    width:  142px;
    transition: 1s;

}
.seccion:hover{
    transition: 1s;
    background-color: darkorange;
}

.navegacion{
    display: flex;
    flex-direction: column;
    margin-right: 5px;
    position: fixed;
    width: 15%;
    background-color: orange;
    height: 600px;
    left: 0px;
    top: 0px;
    justify-content: space-between;

}
.ul{
    list-style: none;
}

h1{
    margin-left:300px;
}

.icono{
    margin-left:1300px;
    margin-top: -180px;


}

.item{
    margin-left:100px;
    width: calc(24% - 3em);
    box-sizing: border-box;
    border-radius: 20px;
    height: 200px;
    background-color: orangered;
    flex-direction: column;
    align-items: center;
    transition: 1s;
    margin-top :50px;
}


.item:hover{
    transition: 1s;
    background-color: coral;
    transform: scale(1.03);
}

.item p{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 80%;
    text-align: center;
    color:black;
    text-decoration: none;
}

.album{
    max-width: 80%;
    border-radius: 20px;
    margin: 15px;
    border: 2px solid black;
}

.recetasDelDia{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-bottom: 150px;
}

.buscador{
    width: 70%;
    position: relative;
    left: 250px;

}
button{
    width: 45px;
    height: 45px;
    background-color:silver;
    border: 2px solid black;
    border-radius: 50%;
    padding: 5px;
    background-size: cover;
    transition: 1s;
    cursor: pointer;
}
button:hover{
    transition: 1s;
    background-color: gray;
}

input{
    height: 40px;
    width: 90%;
    padding: 10px;
    border-radius: 20px;
    border: 2px solid black;

}

