* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    
    background-color: #f8f8f8;
    font-family: 'Open Sans', sans-serif;
}

/* nav todo */
nav {
    background-color: #ffaa01;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    max-height: 45px;
}

.titulo {
    font-family: "Bebas Neue", sans-serif;
    color: #e50914;
    font-size: 2rem;
    font-weight: bold;
    margin-top: 10px;
}



.enlace-titulo-home{
    text-decoration: none;
    color: #c44004;

}


.enlace-titulo-home:hover{
    color: #f6d5d5;
    transform: scale(5.5);
        box-sizing: 0 8px 16px rgba(209, 10, 10, 0.2);
        transition: transform 0.3s ease, 0.3s ease;


}
.barra-busqueda input {
    padding: 3px;
    border-radius: 4px;
    border: none;
}

.barra-busqueda button {
    padding: 5px 10px;
    border: none;
    background-color: #c44004;
    color: white;
    cursor: pointer;
    font-family: "Bebas Neue", sans-serif;
    margin-bottom: 2px;
    
}

.barra-busqueda button:hover{
    transform: scale(1.05);
        box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
        transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.enlaces-navegacion a {
    color: white;
    text-decoration: none;
    margin-left: 20px;
    font-size: 20px;
    font-family: "Bebas Neue", sans-serif;
}

.enlaces-navegacion a:hover {
    text-decoration: none;
    color:  #c44004;
    transform: scale(2.2);
        box-sizing: 0 8px 16px rgba(209, 10, 10, 0.2);
        transition: transform 0.3s ease, 0.3s ease;
}



.recetas-destacadas-semana{
    padding: 10px 0px;
    text-align: center;
    color: #777;
    margin-top: 10px;
    margin-bottom: 5px;
    font-family: "Bebas Neue", sans-serif;
    max-width: auto;
}



/* carrusel con slides, grid de info, y detalles del carru */

.carrusel {
    position: relative;
    width: 100%;
    max-width: 1200px;
    margin: auto;
    overflow: hidden;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.slides {
    display: flex;
    transition: transform 0.5s ease-in-out;
}

.slide {
    min-width: 100%;
    transition: 0.5s;
    display: none;
    align-items: center;
    justify-content: space-between;
    position: relative;
}

.slide.active {
    display: flex; 
}

.slide img {
    width: 60%;
    height: auto;
    object-fit: cover;
}

.info {
    position: relative;
    left: -4.5%;
    top: 15%;
    transform: translateY(-50%);
    background-color: #f4efee;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 400px;
    height: 150px;
}

.info h2 {
    font-size: 24px;
    margin-bottom: 10px;
}

.info p {
    font-size: 16px;
    margin-bottom: 20px;
}

.boton-receta {
    background-color: #dd321e;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
}

.boton-receta:hover {
    background-color: #ffaa01;
    transform: scale(3.5);
        box-shadow: 0 8px 16px rgba(0, 0, 0, 0.7);
        transition: transform 0.3s ease, box-shadow 0.3s ease;
        text-decoration: none;
}

.prev, .next {
    position: absolute;
    top: 48%;
    transform: translateX(-5%);
    transform: translateY(-5%);
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    border-radius: 20%;
    z-index: 1;
}

.prev {
    left: 10px;
}

.next {
    right: 10px;
}

.prev:hover, .next:hover{
    transform: scale(1.10);
        box-shadow: 0 8px 16px rgba(0.5, 0.5, 0.5, 0);
        transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.dots {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    gap: 10px;
}

.dot {
    width: 10px;
    height: 10px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    cursor: pointer;
}

.dot.active {
    background-color: #717171;
}

.img-slide {
    max-width: 1000px;
    max-height: 500px;
    object-fit: cover; 
}


/* seccion de bienvenida */

.bienvenida {
    background: linear-gradient(90deg, #f8f8f8, #e4dedd );
    color: #5d5151;
    padding: 30px 20px;
    text-align: center;
    
    
    position: relative;
    width: 100%;
    max-width: 1200px;
    margin: auto;
    overflow: hidden;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.contenedor-bienvenida {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

.titulo-principal {
    font-size: 2.5rem;
    font-weight: bold;
    margin-bottom: 20px;
    margin-top: -20px;
}

.titulo-principal span {
    color: #df7e22;
    font-family: "Bebas Neue", sans-serif;
    position: relative;
    right: -7px;
}

.texto-bienvenida {
    font-size: 1.2rem;
    margin-bottom: 25px;
    line-height: 1.6;
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
}

.titulo-secundario {
    font-size: 2.0rem;
    margin-bottom: 15px;
    color: #5d5151;
}

.texto-quienes-somos {
    font-size: 1.1rem;
    line-height: 1.8;
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: -15px;
}

@media (max-width: 768px) {
    .titulo-principal {
        font-size: 2.5rem;
    }
    
    .titulo-secundario {
        font-size: 2rem;
    }
    
    .texto-bienvenida,
    .texto-quienes-somos {
        font-size: 1rem;
    }
}


/* Seccion tips, top10 y art.interes */

h2 {
    font-size: 24px;
    color: #333;
    margin-bottom: 20px;
    margin-top: -5px;
    margin-left: 10px;
}

h2 span {
    color: gold;
}

.titulos-notas{
    font-family: "Bebas Neue", sans-serif;
    margin-left: 20px;
    margin-top: 5px;
    margin-bottom: -0.2px;
}

.titulos-normales{
    font-weight: 700;
}

.grids-estilos{
    font-family:"Bebas Neue", sans-serif; 
    font-weight: bold;
    font-size: 20px !important;
    letter-spacing: 1.2px;
    word-spacing: 1.5;
    
    margin-top: 10px;
}

section {
    margin-bottom: 40px;
}

.recetas-grid, .tips-grid, .notas-grid {
    
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px;
    
}


.tip-img {
    margin-top: 20px;
    max-width: 500px;
    max-height: 230px;
    object-fit: cover;
    border-radius: 10px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.tip-img:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.receta, .tip, .nota {
    background-color: white;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.receta img,  .nota img {
    width: 100%;
    height: auto;
}

.receta:hover, .nota:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

h3 {
    font-size: 18px;
    color: #333;
    margin: 10px 0;
}

p {
    font-size: 14px;
    color: #777;
}

.rating {
    color: green;
    font-weight: bold;
    margin-bottom: 10px;
}

a {
    color: #1e90ff;
    text-decoration: none;
}

.tip a {
    display: block;
    margin: 10px 0;
}

.notas-grid {
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
}

.notas-grid .nota h3 {
    font-size: 16px;
}

.notas-grid .nota p {
    font-size: 12px;
    color: #999;
    margin-bottom: 10px;
}


/* footer */
footer {
    background-color: #ffaa01;
    color: white;
    padding: 10px 0;
    text-align: center;
}

.iconos-sociales img {
    width: 24px;
    margin: 0 10px;
    cursor: pointer;
}


.img-icon:hover{

    
        transform: scale(1.05);
        box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
        transition: transform 0.3s ease, box-shadow 0.3s ease;
    
    
}
