* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    
    background-color: #f8f8f8;
    font-family: 'Open Sans', sans-serif;
}

/* nav todo */
nav {
    background-color: #ffaa01;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    max-height: 45px;
}

.titulo {
    font-family: "Bebas Neue", sans-serif;
    color: #e50914;
    font-size: 2rem;
    font-weight: bold;
    margin-top: 10px;
}

.enlace-titulo-home{
    text-decoration: none;
    color: #c44004;

}


.enlace-titulo-home:hover{
    color: #f6d5d5;
    transform: scale(5.5);
        box-sizing: 0 8px 16px rgba(209, 10, 10, 0.2);
        transition: transform 0.3s ease, 0.3s ease;


}
.barra-busqueda input {
    padding: 3px;
    border-radius: 4px;
    border: none;
}

.barra-busqueda button {
    padding: 5px 10px;
    border: none;
    background-color: #c44004;
    color: white;
    cursor: pointer;
    font-family: "Bebas Neue", sans-serif;
    margin-bottom: 2px;
    
}

.barra-busqueda button:hover{
    transform: scale(1.05);
        box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
        transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.enlaces-navegacion a {
    color: white;
    text-decoration: none;
    margin-left: 20px;
    font-size: 20px;
    font-family: "Bebas Neue", sans-serif;
}

.enlaces-navegacion a:hover {
    text-decoration: none;
    color:  #c44004;
    transform: scale(2.2);
        box-sizing: 0 8px 16px rgba(209, 10, 10, 0.2);
        transition: transform 0.3s ease, 0.3s ease;
}


.filtro-recetas {
    padding: 20px;
    text-align: center;
    background-color: #f1f1f1;
}

.mis-recetas {
    padding: 20px;
    display: flex;
    justify-content: center;
}


.barra-busqueda-dos input {
    padding: 10px;
    width: 60%;
    margin-right: 10px;
}

.barra-busqueda-dos button {
    padding: 10px 20px;
    border: none;
    background-color: #c44004;
    color: white;
    cursor: pointer;
    font-family: "Bebas Neue", sans-serif;
    margin-bottom: 2px;
}

.barra-busqueda-dos button:hover{
    transform: scale(1.05);
        box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
        transition: transform 0.3s ease, box-shadow 0.3s ease;
}

footer {
    background-color: #ffaa01;
    color: white;
    padding: 10px 0;
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
}

.iconos-sociales img {
    width: 24px;
    margin: 0 10px;
    cursor: pointer;
}

.img-icon:hover{

    
    transform: scale(1.05);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}