* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #f8f8f8;
    font-family: 'Open Sans', sans-serif;
}

/* nav todo */
nav {
    background-color: #ffaa01;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    max-height: 45px;
}

.titulo {
    font-family: "Bebas Neue", sans-serif;
    color: #e50914;
    font-size: 2rem;
    font-weight: bold;
    margin-top: 10px;
}

.enlace-titulo-home{
    text-decoration: none;
    color: #c44004;

}

.enlace-titulo-home:hover{
    color: #f6d5d5;
    transform: scale(5.5);
        box-sizing: 0 8px 16px rgba(209, 10, 10, 0.2);
        transition: transform 0.3s ease, 0.3s ease;
}

.barra-busqueda{
    margin-left: 150px;
}

.barra-busqueda input {
    padding: 3px;
    border-radius: 4px;
    border: none;
}

.barra-busqueda button {
    padding: 5px 10px;
    border: none;
    background-color: #c44004;
    color: white;
    cursor: pointer;
    font-family: "Bebas Neue", sans-serif;
    margin-bottom: 2px;

}

.barra-busqueda button:hover{
    transform: scale(1.05);
        box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
        transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.enlaces-navegacion a {
    color: white;
    text-decoration: none;
    margin-left: 20px;
    font-size: 20px;
    font-family: "Bebas Neue", sans-serif;
}

.enlaces-navegacion a:hover {
    text-decoration: none;
    color:  #c44004;
    transform: scale(2.2);
        box-sizing: 0 8px 16px rgba(209, 10, 10, 0.2);
        transition: transform 0.3s ease, 0.3s ease;
}

/* ----------------------------------- */


.perfil-container {
    max-width: 800px;
    margin: 40px auto;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    padding: 20px;
    font-family: Arial, sans-serif;
}

.perfil-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 20px;
    border-bottom: 1px solid #e6e6e6;
    position: relative;
}

.perfil-form {
    display: flex;
    flex-direction: column;
}

.perfil-form h1 {
    font-size: 24px;
    margin-bottom: 20px;
    color: #93523b;
    text-align: center;
}

.form-group {
    margin-bottom: 15px;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    color: #333;
}

.form-group input, .form-group textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 16px;
    box-sizing: border-box;
}

.form-group textarea {
    resize: vertical;
    height: 100px;
}

.error-message {
    background-color: #f8d7da;
    color: #721c24;
    border: 1px solid #f5c6cb;
    padding: 10px;
    margin-bottom: 15px;
    border-radius: 5px;
    font-size: 14px;
    display: none;
}

.form-actions {
    display: flex;
    justify-content: space-between;
}

.guardar-cambios, .cancelar {
    background-color: #ffaa01;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
    flex: 1;
    margin-right: 10px;
}

.guardar-cambios {
    background-color: #ffaa01;
}

.guardar-cambios:hover {
    background-color: #ff6b01;
}



.foto-usuario img {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 20px;
}

.info-usuario h2 {
    margin-bottom: 10px;
    color: #333;
}

.info-usuario {
    flex-grow: 1;
}

.iconos-derecha {
    display: flex;
    gap: 10px;
    position: absolute;
    top: 20px;
    right: 20px;
}

.comentarios-lista {
    list-style-type: none;
    padding: 0;
}

.comentario-item {
    background-color: #f9f9f9;
    padding: 15px;
    margin-bottom: 10px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease;
}

.comentario-item:hover {
    background-color: #e6e6e6;
}

.comentario-texto {
    font-size: 1.2em;
    margin-bottom: 5px;
}

.comentario-fecha {
    font-size: 0.9em;
    color: #888;
}


.editar-perfil {
    background: none;
    border: none;
    padding: 0;
}

.editar-perfil a {
    font-size: 20px;
    color: #888888;
    background: none;
    border: none;
    cursor: pointer;
    text-decoration: none;
    padding: 10px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.editar-perfil a:hover {
    color: #666666;
}

.editar-perfil i {
    font-size: 20px;
}

.btn-ajustes {
    background: none;
    border: none;
    font-size: 24px;
    color: #888888;
    cursor: pointer;
    transition: color 0.3s ease;
}

.btn-ajustes:hover {
    color: #666666;
}

.btn-ajustes i {
    font-size: 24px;
}

.perfil-detalles {
    margin-top: 20px;
}

.perfil-detalles p {
    margin-bottom: 10px;
    color: #333;
}

.perfil-botones button {
    background-color: #ffaa01;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
    margin-right: 10px;
}

.perfil-botones button:hover {
    background-color: #ff6b01;
}

.favoritos{
    text-decoration: none;
}

.acciones-perfil {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}
#recetas, #comentarios {
    margin-top: 20px;
    padding: 15px;
    background-color: #f1f1f1;
    border-radius: 8px;
}

.receta-item {
    background-color: #f9f9f9;
    padding: 15px;
    margin-bottom: 10px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease;
}

.receta-item:hover {
    background-color: #e6e6e6;
}

.recetas-lista {
    list-style-type: none;
    padding: 0;
}

.recetas-lista, .comentarios-lista {
    list-style-type: none;
    padding: 0;
}

.receta-item, .comentario-item {
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin-bottom: 10px;
    background-color: white;
}

.advertencia
{
    margin: 35px 0 -10px 20px;
    margin-top: 35px;
}    


.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}

footer {
    background-color: #ffaa01;
    color: white;
    padding: 10px 0;
    text-align: center;
    margin-top: 180px;

}

.iconos-sociales img {
    width: 24px;
    margin: 0 10px;
    cursor: pointer;
}

.img-icon:hover{
    transform: scale(1.05);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.modal-contenido {
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    text-align: center;
}

.modal-contenido button {
    margin: 10px;
    padding: 10px;
}
.interes-tipo-comida {
    margin-top: 60px; /* Espacio superior */
    padding: 15px;
    background-color: #f1f1f1; /* Fondo claro */
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.tipo-comida {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 15px;
}

.barra-progreso-container {
    flex-grow: 1;
    margin-left: 15px;
}

.barra-progreso {
    width: 100%;
    background-color: #e0e0e0;
    border-radius: 4px;
    overflow: hidden;
    height: 20px;
    margin: 0 10px;
}

.progreso {
    height: 100%;
    background-color: #76c7c0;
    transition: width 0.3s ease;
}

.tipo-comida-nombre {
    font-weight: bold;
}

.porcentaje {
    font-weight: bold;
    margin-left: 10px;
}

.botonPlan {
    display: inline-block;
    padding: 3px 6px;
    background-color: #FFA500;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s;

.botonPlan:hover {
    background-color: #ff8c00;

}



}