body {
    font-family: 'Bebas Neue', sans-serif;
    margin: 0;
    padding: 0;
    color: #333;
    background-color: #f5f5f5;
}

.plans-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 2rem;
    padding: 2rem;
    max-width: 1200px;
    margin: 0 auto;
}

.plan-card {
    background: linear-gradient(to bottom right, #f6a997, #ffaa01);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    text-align: center;
    color: white;
    transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.plan-card:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.3);
}

.plan-card img {
    width: 100%;
    height: auto;
    border-radius: 10px;
    margin-bottom: 15px;
}

.plan-card h2 {
    font-size: 2rem;
    margin-bottom: 10px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}

.plan-card p {
    font-size: 1.2rem;
    margin-bottom: 15px;
}

.plan-card .price {
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 20px;
}

.buy-btn {
    padding: 10px 20px;
    font-size: 1rem;
    background-color:#f44336;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-bottom: 10px;
}

.buy-btn:hover {
    background-color: #d32f2f;
}

.actions {
    text-align: center;
    margin-top: 2rem;
}

.cancel-btn {
    padding: 10px 20px;
    font-size: 1rem;
    background-color: #ccc;
    color: #333;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.cancel-btn:hover {
    background-color: #aaa;
}

.img-plan:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.img-plan {
    width: 100%;
    height: 150px;
    object-fit: cover;
    border-radius: 8px;
}
