<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Fragmento Footer</title>
</head>
<body>
    <footer th:fragment="footer">
        <p>© 2024 EasyCocina.net - Todos los derechos reservados</p>
        <div class="iconos-sociales">
            <a href="#"><img th:src="@{imagenes/descubre-recetas-icons/facebook.png}" class="img-icon" alt="Facebook"></a>
            <a href="#"><img th:src="@{imagenes/descubre-recetas-icons/twitter.png}" class="img-icon" alt="Twitter"></a>
            <a href="#"><img th:src="@{imagenes/descubre-recetas-icons/instagram.png}" class="img-icon" alt="Instagram"></a>
        </div>
    </footer>
</body>
</html>
