<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Comentarios - EasyCocina</title>
  <!-- Bootstrap core css -->
  <link th:rel="stylesheet" th:href="@{/webjars/bootstrap/5.2.0/css/bootstrap.min.css}"/>
  <link rel="stylesheet" th:href="@{/css/comentario.css}"/>
  <link rel="stylesheet" th:href="@{/css/mis-recetas.css}"/>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
</head>

<body>

<!-- Navegación -->
<nav>
  <div class="logo">
    <h1 class="titulo"><a th:href="@{/home}" class="enlace-titulo-home">EASYCOCINA.NET</a></h1>
  </div>
  <div class="barra-busqueda">
    <form th:action="@{/buscar}" method="get">
      <input type="text" name="query" placeholder="¿Qué estás buscando?">
      <button type="submit">Buscar</button>
    </form>
  </div>

  <div class="enlaces-navegacion">
    <a th:href="@{/descubre-recetas}" class="">Descubre recetas </a>
    <a th:href="@{/misRecetas}" class="">Mis Recetas</a>
    <a th:href="@{/crear-receta}" class="">Crear</a>
    <a th:href="@{/perfil}" class="">Perfil</a>
    <a th:href="@{/login}" class="">Cerrar Sesión</a>
  </div>
</nav>

<!-- Contenedor principal -->
<div class="receta-comentarios">
  <!-- Información de la Receta -->
  <div class="receta-info">
    <h2 class="receta-titulo">Nombre: <span th:text="${receta.nombre}"></span></h2>
    <h2 class="receta-titulo">Descripción: <span th:text="${receta.descripcion}"></span></h2>
  </div>

  <!-- Sección de Comentarios -->
  <div class="comentarios-seccion">
    <h3>Comentarios</h3>
    <div th:each="comentario : ${receta.comentarios}" class="comentario card mb-3">
      <div class="card-body">
        <h5 th:text="${comentario.usuario.nombre}" class="nombre-usuario card-title"></h5>
        <p th:text="${comentario.contenido}" class="contenido-comentario card-text"></p>
        <div th:if="${comentario.calificacion}">
          <span th:each="star : ${#numbers.sequence(1, comentario.calificacion)}" class="star">&#9733;</span>
          <span th:each="star : ${#numbers.sequence(comentario.calificacion + 1, 5)}" class="starv">&#9734;</span>
        </div>
      </div>
    </div>
  </div>

  <!-- Formulario para agregar un comentario -->
  <form th:action="@{/mis-recetas/agregar-comentario}" method="post" class="form-comentario">
    <input type="hidden" name="recetaId" th:value="${receta.id}" />
    <div class="form-group">
      <textarea name="contenido" placeholder="Escribe un comentario..." required class="input-comentario"></textarea>
    </div>
    <div class="form-group calificacion">
      <label>Calificación:</label>
      <input type="radio" id="estrella5" name="calificacion" value="5" />
      <label for="estrella5" class="fa fa-star"></label>
      <input type="radio" id="estrella4" name="calificacion" value="4" />
      <label for="estrella4" class="fa fa-star"></label>
      <input type="radio" id="estrella3" name="calificacion" value="3" />
      <label for="estrella3" class="fa fa-star"></label>
      <input type="radio" id="estrella2" name="calificacion" value="2" />
      <label for="estrella2" class="fa fa-star"></label>
      <input type="radio" id="estrella1" name="calificacion" value="1" />
      <label for="estrella1" class="fa fa-star"></label>
    </div>
    <button type="submit" class="btn">Comentar</button>
  </form>
</div>

</body>
</html>