<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>EasyCocina-Descubre Recetas</title>
    <!-- Boostrap core css -->
    <link th:rel="stylesheet" th:href="@{/webjars/bootstrap/5.2.0/css/bootstrap.min.css}"/>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap" rel="stylesheet">
    <link rel="stylesheet" th:href="@{/css/crear-receta.css}"/>
    <link rel="stylesheet" th:href="@{/css/nav.css}"/>
    <link rel="stylesheet" th:href="@{/css/footer.css}"/>

    <script src="https://cdn.tiny.cloud/1/ht2ixdk86ellkbw1p2oy2ty9bip3cbmlc8psnykqdqawy1gc/tinymce/7/tinymce.min.js" referrerpolicy="origin"></script>

</head>


<body>

    <div th:insert="fragmentos/nav :: barraNavegacion"></div>


<div class="contenedor-crear">
    <div class="titulo-crear">
        <h1> Crea tu Receta </h1>
    </div>


    <form th:action="@{/crear-receta}" method="post" th:object="${receta}" enctype="multipart/form-data">

        <section class="seccion-info-basica">
            <h2>Información Básica</h2>

            <label for="nombre">Nombre de la receta:</label>
            <input type="text" id="nombre" th:field="*{nombre}" required/>

            <label for="descripcion">Descripción:</label>
            <textarea id="descripcion" th:field="*{descripcion}" required></textarea>
        </section>

        <section class="seccion-comensales">
            <h2> Cantidad de Comensales </h2>
            <label for="comensales"> cantidad de comensales:</label>
            <input type="number" id="comensales" th:field="*{comensales}" required>
        </section>

        <section class="seccion-ingredientes">
            <h2> Ingredientes </h2>

            <div th:each="ingrediente, iterStat : *{ingredientes}">
                <label for="ingrediente-nombre">Nombre del Ingrediente:</label>
                <input type="text" id="ingrediente-nombre" th:field="*{ingredientes[__${iterStat.index}__].nombre}" placeholder="Ej: Harina" required/>

                <label for="ingrediente-cantidad">Cantidad:</label>
                <input type="number" id="ingrediente-cantidad" th:field="*{ingredientes[__${iterStat.index}__].cantidad}" placeholder="Ej: 5" />

                <label for="ingrediente-unidad">Unidad:</label>
                <input type="number" id="ingrediente-unidad" th:field="*{ingredientes[__${iterStat.index}__].unidad}" placeholder="Ej: gramos" />

                <button type="button" class="eliminar-ingrediente" th:onclick="|removeIngrediente(${iterStat.index})|">Eliminar</button>
            </div>

            <button type="button" id="agregar-ingrediente" onclick="addIngrediente()">Agregar Ingrediente</button>
        </section>

        <section class="seccion-info-nutricional">
            <h2>Información Nutricional</h2>

            <label for="calorias">Calorías:</label>
            <input type="number" id="calorias" th:field="*{calorias}" required />
        </section>

        <section class="seccion-preparacion">
            <h2>Tiempo de Preparación</h2>

            <label for="tiempoPreparacion">Tiempo de preparación (en minutos):</label>
            <input type="number" id="tiempoPreparacion" th:field="*{tiempoPreparacion}" required/>
        </section>

        <section class="seccion-tipo-comida">
            <h2>Tipo de Comida</h2>

            <label for="tipoComida">Selecciona el tipo de comida:</label>
            <select id="tipoComida" th:field="*{tipoComida}" required>
                <option value="">Seleccione una opción</option>
                <option value="vegano">Vegano</option>
                <option value="ovolactovegetariano">Ovolactovegetariano</option>
                <option value="flexitariano">Flexitariano</option>
                <option value="basica">Básica</option>
            </select>
        </section>


        <section class="seccion-subir-foto"> 
            <h2>Subir Foto</h2>
            <label for="file">Imagen de la receta:</label>
            <input type="file" id="file" name="file" accept=".jpg,.jpeg,.png" required/>
        </section>

        <section class="seccion-contenido">
            <h2>Contenido de la Receta</h2>
            <textarea id="contenidoReceta" name="contenido"></textarea>
        </section>

        <section class="seccion-boton">
            <button type="submit">Publicar Receta</button>
        </section>

    </form>

</div>

<script>
    function addIngrediente() {
        var container = document.querySelector(".seccion-ingredientes");
        var index = container.querySelectorAll("div").length;

        var nuevoIngrediente = `
        <div>
            <label for="ingrediente-nombre-${index}">Nombre del Ingrediente:</label>
            <input type="text" name="ingredientes[${index}].nombre" placeholder="Ej: Harina" />

            <label for="ingrediente-cantidad-${index}">Cantidad:</label>
            <input type="text" name="ingredientes[${index}].cantidad" placeholder="Ej: 500" />

            <label for="ingrediente-unidad-${index}">Unidad:</label>
            <input type="text" name="ingredientes[${index}].unidad" placeholder="Ej: gramos, tazas" />

            <button type="button" onclick="removeIngrediente(this)">Eliminar</button>
        </div>
    `;
        container.insertAdjacentHTML('beforeend', nuevoIngrediente);
    }

    function removeIngrediente(button) {
        button.parentElement.remove();
    }


    
</script>


<script>
    tinymce.init({
        selector: '#contenidoReceta',
        plugins: 'image code',
        toolbar: 'undo redo | bold italic underline | alignleft aligncenter alignright alignjustify | bullist numlist outdent indent | image code',
        image_title: true,
        automatic_uploads: true,
        images_upload_url: '/upload-editor-image',
        file_picker_types: 'image',
        images_upload_handler: function (blobInfo, success, failure) {
            var formData = new FormData();
            formData.append('file', blobInfo.blob(), blobInfo.filename());

            fetch('/upload-editor-image', {
                method: 'POST',
                body: formData
            }).then(function (response) {
                return response.json();
            }).then(function (json) {
                success(json.location);
            }).catch(function (error) {
                failure('Error al subir la imagen: ' + error);
            });
        }
    });
</script>



<div th:insert="fragmentos/footer :: footer"></div>


</body>
</html>