<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>EasyCocina-Descubre Recetas</title>
    <!-- Boostrap core css -->
    <link th:rel="stylesheet" th:href="@{/webjars/bootstrap/5.2.0/css/bootstrap.min.css}"/>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap" rel="stylesheet">

<!-- estilos -->
<link rel="stylesheet" th:href="@{/css/descubre-recetas.css}"/>
</head>

<body>
    
    <!-- nav todo -->
<nav fragment="barraNavegacion">
    <div class="logo">
        <h1 class="titulo"><a th:href="@{/home}" class="enlace-titulo-home">EASYCOCINA.NET</a></h1>

    </div>
    <div class="barra-busqueda">
        <input type="text" placeholder="¿Qué estás buscando?">
        <button>Buscar</button>
    </div>
    <div class="enlaces-navegacion">
        <a th:href="@{/descubre-recetas}" class="">Descubre recetas </a>
        <a th:href="@{/misRecetas}" class="">Mis Recetas</a>
        <a th:href="@{/crear-receta}" class="">Crear</a>
        <a th:href="@{/perfil}" class="">Perfil</a>
        <a th:href="@{/login}" class="">Cerrar Sesión</a>
    </div>
</nav>

<div class="carrusel">
    <div class="slides">
        <div th:each="receta, stat : ${recetas}" th:class="${stat.index == 0} ? 'slide active' : 'slide'">
            <img th:src="${receta.foto}" alt="Receta" class="img-slide">
            <div class="info">
                <h2 class="grids-estilos" th:text="${receta.nombre}">Nombre de la receta</h2>
                <p class="descripcion-carrusel" th:text="${receta.descripcion}">Descripción de la receta</p>
                <a href="#" class="boton-receta">Ver Receta</a>
            </div>
        </div>
    </div>
    
        
        <!-- botones de navegacion (carrusel) -->
        <button class="prev"><</button>
        <button class="next">></button>
        
        <!-- puntos indicadores (carrusel) -->
        <div class="dots">
            <span class="dot active"></span>
            <span class="dot"></span>
            <span class="dot"></span>
            <span class="dot"></span>
            <span class="dot"></span>
            <span class="dot"></span>
        </div>
    </div>

<section class="menu-categorias">
    <div class="categoria-menu">
        <h4 class="titulos-categoria">Recetas de Pasta</h4>
            <ul>
                <li>
                    <form th:action="@{/filtrar-recetas}" method="get">
                        <input type="hidden" name="subcategoria" value="espaguetis">
                        <button type="submit">Espaguetis</button>
                    </form>
                </li>
                <li>
                    <form th:action="@{/filtrar-recetas}" method="get">
                        <input type="hidden" name="subcategoria" value="pizza">
                        <button type="submit">Pizza</button>
                    </form>
                </li>
                <li>
                    <form th:action="@{/filtrar-recetas}" method="get">
                        <input type="hidden" name="subcategoria" value="macarrones">
                        <button type="submit">Macarrones</button>
                    </form>
                </li>
                <li>
                    <form th:action="@{/filtrar-recetas}" method="get">
                        <input type="hidden" name="subcategoria" value="lasaña">
                        <button type="submit">Lasaña</button>
                    </form>
                </li>
            </ul>
        </div>
        <div class="categoria-menu">
            <h4 class="titulos-categoria">Recetas de Pescado</h4>
            <ul>
                <li>
                    <form th:action="@{/filtrar-recetas}" method="get">
                        <input type="hidden" name="subcategoria" value="salmon">
                        <button type="submit">Salmón</button>
                    </form>
                </li>
                <li>
                    <form th:action="@{/filtrar-recetas}" method="get">
                        <input type="hidden" name="subcategoria" value="bacalao">
                        <button type="submit">Bacalao</button>
                    </form>
                </li>
                <li>
                    <form th:action="@{/filtrar-recetas}" method="get">
                        <input type="hidden" name="subcategoria" value="merluza">
                        <button type="submit">Merluza</button>
                    </form>
                </li>
                <li>
                    <form th:action="@{/filtrar-recetas}" method="get">
                        <input type="hidden" name="subcategoria" value="atun">
                        <button type="submit">Atún</button>
                    </form>
                </li>
            </ul>
        </div>
        <div class="categoria-menu">
            <h4 class="titulos-categoria">Recetas de Caza</h4>
            <ul>
                <li>
                    <form th:action="@{/filtrar-recetas}" method="get">
                        <input type="hidden" name="subcategoria" value="pollo">
                        <button type="submit">Pollo</button>
                    </form>
                </li>
                <li>
                    <form th:action="@{/filtrar-recetas}" method="get">
                        <input type="hidden" name="subcategoria" value="pavo">
                        <button type="submit">Pavo</button>
                    </form>
                </li>
                <li>
                    <form th:action="@{/filtrar-recetas}" method="get">
                        <input type="hidden" name="subcategoria" value="conejo">
                        <button type="submit">Conejo</button>
                    </form>
                </li>
                <li>
                    <form th:action="@{/filtrar-recetas}" method="get">
                        <input type="hidden" name="subcategoria" value="pato">
                        <button type="submit">Pato</button>
                    </form>
                </li>
            </ul>
        </div>
        
    <div class="categoria-menu">
        <h4 class="titulos-categoria">Recetas de Carne</h4>
            <ul>
                <li>
                    <form th:action="@{/filtrar-recetas}" method="get">
                        <input type="hidden" name="subcategoria" value="cerdo">
                        <button type="submit">Cerdo</button>
                    </form>
                </li>
                <li>
                    <form th:action="@{/filtrar-recetas}" method="get">
                        <input type="hidden" name="subcategoria" value="ternera">
                        <button type="submit">Ternera</button>
                    </form>
                </li>
                <li>
                    <form th:action="@{/filtrar-recetas}" method="get">
                        <input type="hidden" name="subcategoria" value="vaca">
                        <button type="submit">Vaca</button>
                    </form>
                </li>
                <li>
                    <form th:action="@{/filtrar-recetas}" method="get">
                        <input type="hidden" name="subcategoria" value="lomo">
                        <button type="submit">Lomo</button>
                    </form>
                </li>
            </ul>
    </div>
    <div class="categoria-menu">
        <h4 class="titulos-categoria">Cócteles y bebidas</h4>
            <ul>
                <li>
                    <form th:action="@{/filtrar-recetas}" method="get">
                        <input type="hidden" name="subcategoria" value="batidos">
                        <button type="submit">Batidos</button>
                    </form>
                </li>
                <li>
                    <form th:action="@{/filtrar-recetas}" method="get">
                        <input type="hidden" name="subcategoria" value="jugos">
                        <button type="submit">Jugos y Zumos</button>
                    </form>
                </li>
                <li>
                    <form th:action="@{/filtrar-recetas}" method="get">
                        <input type="hidden" name="subcategoria" value="cocteles">
                        <button type="submit">Cócteles</button>
                    </form>
                </li>
                <li>
                    <form th:action="@{/filtrar-recetas}" method="get">
                        <input type="hidden" name="subcategoria" value="ponche">
                        <button type="submit">Ponche</button>
                    </form>
                </li>
            </ul>
    </div>
    </section>
    

    <div id="grilla-recetas" class="grilla-recetas">
        <div class="tarjeta-receta" th:each="receta : ${recetas}">
            <img th:src="${receta.foto}" class="img-receta-tarjeta" alt="Receta de Espaguetis">
            <div class="info-receta">
                <h2 class="grids-estilos" th:text="${receta.nombre}">Nombre de la Receta</h2>
                <p class="subcategoria" th:text="'Subcategoría: ' + ${receta.subcategoria}"></p>

            </div>
        </div>
    </div>
    
    <footer>
        <p>© 2024 EasyCocina.net - Todos los derechos reservados</p>
        <div class="iconos-sociales">
            <a href="#"><img th:src="@{/imagenes/descubre-recetas-icons/facebook.png}" class="img-icon" alt="Facebook"></a>
            <a href="#"><img th:src="@{/imagenes/descubre-recetas-icons/twitter.png}" class="img-icon" alt="Twitter"></a>
            <a href="#"><img th:src="@{/imagenes/descubre-recetas-icons/instagram.png}" class="img-icon" alt="Instagram"></a>
        </div>
    </footer>

    <script type="text/javascript" th:src="@{webjars/bootstrap/5.2.0/js/bootstrap.min.js}"></script>
    <script th:src="@{/js/descubre-recetas.js}"></script>
</body>
</html>
