<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Editar Perfil de Usuario</title>
  <link rel="stylesheet" th:href="@{/css/perfil.css}"/>
</head>
<body>

<div class="perfil-container">
  <form th:action="@{/guardar-cambios}" th:object="${usuario}" method="post" enctype="multipart/form-data">
    <h1>Editar Perfil </h1> <br><br>

    <div class="form-group">
      <label for="nombre">Nombre:</label>
      <input type="text" id="nombre" name="nombre" th:field="*{nombre}" placeholder="Nombre de usuario">
    </div>

    <div class="form-group">
      <label for="descripcion">Descripción:</label>
      <textarea id="descripcion" name="descripcion" th:field="*{descripcion}"></textarea>
    </div>

    <div class="form-group">
      <label for="ciudad">Ciudad:</label>
      <input type="text" id="ciudad" name="ciudad" th:field="*{ciudad}">
    </div>

    <button type="submit" class="guardar-cambios">Guardar cambios</button>
  </form>


  <form id="form-cambiar-contrasenia" th:action="@{/cambiar-contrasenia}" th:object="${usuario}" method="post">
    <h1>Cambiar contraseña </h1> <br><br>
    <div class="form-group">
      <label for="currentPassword">Contraseña Actual:</label>
      <input type="password" id="currentPassword" name="currentPassword">
    </div>

    <div class="form-group">
      <label for="password">Nueva Contraseña:</label>
      <input type="password" id="password" name="password" th:field="*{password}">
    </div>

    <div class="form-group">
      <label for="confirmPassword">Confirmar Nueva Contraseña:</label>
      <input type="password" id="confirmPassword" name="confirmPassword">
    </div>

  <button type="submit" class="guardar-cambios">Guardar contraseña</button>
  </form>

  <div class="error-message" th:if="${error != null}">
    <p th:text="${error}" id="error-message" style="display: none;"></p>
  </div>

  <!--
      <div class="error-message" th:if="${error}" id="error-message" style="display: none;">
        <p th:text="${error}"></p>
      </div>

      <div class="form-group">
        <label for="foto">Foto de Perfil:</label>
        <input type="file" id="foto" name="foto">
      </div>-->

</div>
<script>
  window.addEventListener('DOMContentLoaded', (event) => {
    var errorMessage = document.getElementById('error-message');
    if (errorMessage && errorMessage.textContent.trim() !== '') {
      alert(errorMessage.textContent);
    }
  });
</script>

</body>
</html>