<!DOCTYPE html>
<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>EasyCocina-Descubre Recetas</title>
    <!-- Boostrap core css -->
    <link th:rel="stylesheet" th:href="@{/webjars/bootstrap/5.2.0/css/bootstrap.min.css}"/>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap" rel="stylesheet">

<!-- estilos -->
<link rel="stylesheet" th:href="@{/css/filtrar-recetas.css}"/>
</head>

<!-- nav todo -->
<nav fragment="barraNavegacion">
    <div class="logo">
        <h1 class="titulo"><a th:href="@{/home}" class="enlace-titulo-home">EASYCOCINA.NET</a></h1>
    </div>
        <div class="barra-busqueda">
            <form th:action="@{/buscar}" method="get">
                <input type="text" name="query" placeholder="¿Qué estás buscando?">
                <button type="submit">Buscar</button>
            </form>
        </div>

    <div class="enlaces-navegacion">
        <a th:href="@{/descubre-recetas}" class="">Descubre recetas </a>
        <a th:href="@{/misRecetas}" class="">Mis Recetas</a>
        <a th:href="@{/crear-receta}" class="">Crear</a>
        <a th:href="@{/perfil}" class="">Perfil</a>
        <a th:href="@{/login}" class="">Cerrar Sesión</a>
    </div>
</nav>


    <section class="filtro-info">
        <h2 th:text="'Resultados obtenidos y/o coincidentes: '"></h2>
    </section>

    <section class="lista-recetas">
        <div th:if="${#lists.isEmpty(recetas)}">
            <p>No se encontraron recetas en esta categoría.</p>
        </div>

        
        <div id="grilla-recetas" class="grilla-recetas">
            <div class="tarjeta-receta" th:each="receta : ${recetas}">
                <img th:src="${receta.foto}" class="img-receta-tarjeta" alt="Receta de Espaguetis">
                <div class="info-receta">
                    <h2 class="grids-estilos" th:text="${receta.nombre}">Nombre de la Receta</h2>
                    <p class="subcategoria" th:text="'Subcategoría: ' + ${receta.subcategoria}"></p>
    
                </div>
            </div>
        </div>
    </div>
    </section>

   <!-- Footer -->
<footer>
    <p>© 2024 EasyCocina.net - Todos los derechos reservados</p>
    <div class="iconos-sociales">
        <a href="#"><img th:src="@{imagenes/descubre-recetas-icons/facebook.png}" class="img-icon" alt="Facebook"></a>
        <a href="#"><img th:src="@{imagenes/descubre-recetas-icons/twitter.png}" class="img-icon" alt="Twitter"></a>
        <a href="#"><img th:src="@{imagenes/descubre-recetas-icons/instagram.png}" class="img-icon" alt="Instagram"></a>
    </div>
</footer>

</body>
</html>
