<!DOCTYPE HTML>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <title>Home</title>

  <!-- Boostrap core css -->
  <link rel="stylesheet" th:href="@{/webjars/bootstrap/5.2.0/css/bootstrap.min.css}"/>

  <!-- custom style -->
  <link rel="stylesheet" th:href="@{/css/home.css}"/>



</head>

<body>

<header>
  <h1>Recetas Ordinarias</h1>

  <div class="buscador">
    <input type="text" placeholder="Buscar" id="buscador">
    <button><i class="fa-solid fa-magnifying-glass"></i></button></div>

  <a href="perfil.html"><svg class="icono" xmlns="http://www.w3.org/2000/svg" height="50px" viewBox="0 -960 960 960" width="50px" fill="#5f6368"><path d="M234-276q51-39 114-61.5T480-360q69 0 132 22.5T726-276q35-41 54.5-93T800-480q0-133-93.5-226.5T480-800q-133 0-226.5 93.5T160-480q0 59 19.5 111t54.5 93Zm246-164q-59 0-99.5-40.5T340-580q0-59 40.5-99.5T480-720q59 0 99.5 40.5T620-580q0 59-40.5 99.5T480-440Zm0 360q-83 0-156-31.5T197-197q-54-54-85.5-127T80-480q0-83 31.5-156T197-763q54-54 127-85.5T480-880q83 0 156 31.5T763-763q54 54 85.5 127T880-480q0 83-31.5 156T763-197q-54 54-127 85.5T480-80Zm0-80q53 0 100-15.5t86-44.5q-39-29-86-44.5T480-280q-53 0-100 15.5T294-220q39 29 86 44.5T480-160Zm0-360q26 0 43-17t17-43q0-26-17-43t-43-17q-26 0-43 17t-17 43q0 26 17 43t43 17Zm0-60Zm0 360Z"/></svg></a>


</header>

<main role="main" class="container">
  <div class = "container">

    <nav class="navegacion">
      <ul class="ul">
        <li><a class="seccion" href="home.html" id="id">Home</a></li>
        <li><a class="seccion" href="home.html">Mis Recetas</a></li>
        <li><a class="seccion" href="home.html">Descubre Recetas</a></li>
      </ul>

    </nav>

  </div>

  <div class="recetasDelDia">

    <a class="item" href="">
      <img th:src="@{/imagenes/Burrito1.JPG}" alt="imagen" class="album">
      <p title="title" class="nombreReceta">Burritos Mexicanos</p>
    </a>
    <a class="item" href="">
      <img th:src="@{imagenes/paella-valenciana.jpg}" alt="imagen" class="album">
      <p title="title" class="nombreReceta">Paella Valenciana</p>
    </a>
    <a class="item" href="">
      <img th:src="@{/imagenes/ratattuile.jpg}" alt="imagen" class="album">
      <p title="title" class="nombreReceta">Ratattuile</p>
    </a>

  </div>



</main>

<!-- /.container -->

<!-- Boostrap core js -->
<script>
  document.getElementById('buscador').addEventListener('keyup', function() {
  let query = this.value.toLowerCase();
  let recetas = document.querySelectorAll('.recetasDelDia .item');

  recetas.forEach(function(receta) {
    let nombre = receta.querySelector('.nombreReceta').textContent.toLowerCase();
    if (nombre.includes(query)) {
      receta.style.display = '';
    } else {
      receta.style.display = 'none';
    }
  });
});</script>
<script type="text/javascript" th:src="@{webjars/bootstrap/5.2.0/js/bootstrap.min.js}"></script>
</body>
</html>