<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>EasyCocina</title>
    <!-- Boostrap core css -->
<link th:rel="stylesheet" th:href="@{/webjars/bootstrap/5.2.0/css/bootstrap.min.css}"/>
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap" rel="stylesheet">

<!-- estilos -->
<link rel="stylesheet" th:href="@{/css/home.css}"/>

</head>

<body>

<!-- nav todo -->
<nav fragment="barraNavegacion">
    <div class="logo">
        <h1 class="titulo"><a th:href="@{/home}" class="enlace-titulo-home">EASYCOCINA.NET</a></h1>

    </div>
    <div class="barra-busqueda">
        <input type="text" placeholder="¿Qué estás buscando?">
        <button>Buscar</button>
    </div>
    <div class="enlaces-navegacion">
        <a th:href="@{/descubre-recetas}" class="">Descubre recetas </a>
        <a href="#" class="">Mis Recetas</a>
        <a th:href="@{/crear-receta}" class="">Crear</a>
        <a th:href="@{/perfil}" class="">Perfil</a>
        <a th:href="@{/login}" class="">Cerrar Sesión</a>
    </div>
</nav>


<div class="carrusel">
    <div class="slides">
        <div th:each="receta, stat : ${recetas}" th:class="${stat.index == 0} ? 'slide active' : 'slide'">
            <img th:src="${receta.foto}" alt="Receta" class="img-slide">
            <div class="info">
                <h2 th:text="${receta.nombre}">Nombre de la receta</h2>
                <p th:text="${receta.descripcion}">Descripción de la receta</p>
                <a href="#" class="boton-receta">Ver Receta</a>
            </div>
        </div>
    </div>
    
    <!-- carrusel:Botones de navegacion -->
    <button class="prev"><</button>
    <button class="next">></button>
    
    <!-- carrusel:Puntos indicadores -->
    <div class="dots">
        <span class="dot active"></span>
        <span class="dot"></span>
        <span class="dot"></span>
        <span class="dot"></span>
        <span class="dot"></span>
        <span class="dot"></span>
    </div>
</div>


<!-- texto bienvenida -->
<section class="bienvenida">
    <div class="contenedor-bienvenida">
    <h1 class="titulo-principal"><span> ¡Convertite en chef!</h1>
    <p class="texto-bienvenida">
        Aquí en <strong>EASYCOCINA.NET</strong>, estamos comprometidos a hacer que la experiencia de cocinar sea más accesible y divertida para todos. Descubrí recetas inspiradoras, sencillas y deliciosas para cada ocasión.
    </p>
    <h2 class="titulo-secundario">¿Quiénes somos?</h2>
    <p class="texto-quienes-somos">
        Somos un equipo apasionado por la gastronomía, dedicados a compartir recetas cuidadosamente seleccionadas para ayudarte a mejorar tus habilidades culinarias. ¡Unite a nuestra comunidad y comenzá a crear platos increíbles hoy mismo!
    </p>
    </div>
</section>




<!-- Sección de Top 10 Recetas  (falta agregar slide)-->
<section class="top-recetas">
    <h2 class="titulos-notas"><br>TOP 10 RECETAS  <span>&#9733</span></h2>
    <div class="recetas-grid">
        <div class="receta">
            <img th:src="@{/imagenes/home-imagenes/home-1.JPG}" alt="Corundas con Crema">
            <h4 class="grids-estilos">Burritos Mexicanos</h4>
            <p class="rating">5.0 &#9733; &#9733; &#9733; &#9733; &#9733;</p>
        </div>
        <div class="receta">
            <img th:src="@{/imagenes/home-imagenes/home-2.jpg}" alt="Receta de Chilaquiles para la Cruda">
            <h4 class="grids-estilos">Ceviche Peruano</h4>
            <p class="rating">5.0 &#9733; &#9733; &#9733; &#9733; &#9733;</p>
        </div>
        <div class="receta">
            <img th:src="@{/imagenes/home-imagenes/home-3.jpg}" alt="Carne al Pastor">
            <h4 class="grids-estilos">Cocido Madrileño</h4>
            <p class="rating">5.0 &#9733; &#9733; &#9733; &#9733; &#9733;</p>
        </div>
        <div class="receta">
            <img th:src="@{/imagenes/home-imagenes/home-4.jpg}" alt="Agua de Jamaica con Guayaba">
            <h4 class="grids-estilos">Paella Valenciana</h4>
            <p class="rating">5.0 &#9733; &#9733; &#9733; &#9733; &#9733;</p>
        </div>
    </div>
</section>

<!-- seccion de tips y notas (falta agregar mas grids y un slide) -->
<section class="tips-notas">
    <h2 class="titulos-notas">TIPS Y NOTAS</h2>
    <div class="tips-grid">
        <div class="tip">
            <img th:src="@{/imagenes/home-imagenes/carbon.jpg}" class="tip-img" alt="Cómo se prende el carbón">
            <h3 class="titulos-normales">¿Cómo se prende el carbón?</h3>
            <p>En EasyCocina te enseñamos cómo prender el carbón de tres maneras diferentes...</p>
            <a href="#">Ver el tip </a>
        </div>
    </div>
</section>

<!-- seccion de articulos interes -->
<section class="notas">
    <h2 class="titulos-notas">Articulos de interés</h2>
    <div class="notas-grid">
        <div class="nota">
            <img th:src="@{/imagenes/home-imagenes/Tuppers.jpg}" alt="Los mejores tuppers para guardar comida">
            <h3 class="titulos-normales">Los mejores tuppers para guardar comida</h3>
            <p>¡Te van a encantar!</p>
        </div>
        <div class="nota">
            <img th:src="@{/imagenes/home-imagenes/rol-canela.jpg}" alt="Los mejores roles de canela">
            <h3 class="titulos-normales">Los mejores roles de canela para el otoño</h3>
            <p>Ideales para una tarde de otoño.</p>
        </div>
        <div class="nota">
            <img th:src="@{/imagenes/home-imagenes/dieta-keto-2.jpg}" alt="15 recetas para celebrar">
            <h3 class="titulos-normales">¿Qué es y en qué consiste la dieta Keto?</h3>
            <p>¡La dieta del momento!</p>
        </div>
    </div>
</section>




<!-- Footer -->
<footer>
    <p>© 2024 EasyCocina.net - Todos los derechos reservados</p>
    <div class="iconos-sociales">
        <a href="#"><img th:src="@{imagenes/descubre-recetas-icons/facebook.png}" class="img-icon" alt="Facebook"></a>
        <a href="#"><img th:src="@{imagenes/descubre-recetas-icons/twitter.png}" class="img-icon" alt="Twitter"></a>
        <a href="#"><img th:src="@{imagenes/descubre-recetas-icons/instagram.png}" class="img-icon" alt="Instagram"></a>
    </div>
</footer>



<script type="text/javascript" th:src="@{webjars/bootstrap/5.2.0/js/bootstrap.min.js}"></script>
<script th:src="@{/js/home.js}"></script>
</body>
</html>