<!DOCTYPE HTML>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Login</title>

    <!-- Boostrap core css -->
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/5.2.0/css/bootstrap.min.css}"/>

    <!-- custom style -->
    <link rel="stylesheet" th:href="@{/css/login.css}"/>

</head>

<body>

<main role="main" class="container">

    <div class = "container">
        <div id="loginbox" style="margin-top:50px;" class="mainbox col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
            <form action="#" th:action="@{/validar-login}" method="POST" th:object="${datosLogin}">
                <h3 class="form-signin-heading">Login</h3>
                <hr class="colorgraph"><br>

                <input th:field="*{email}" id="email" type="email" class="form-control" required placeholder="Ingrese su  correo"/>
                <input th:field="*{password}" type="password" id="password" class="form-control" required placeholder="Ingrese su contraseña"/>

                <button id="btn-login" class=" botonRegistro btn btn-lg btn-secondary btn-block" Type="Submit">Login</button>

                <p th:if="${error != null}" class="alert alert-danger" th:text="'Error ' + ${error}">
                </p>
            </form>
            <a class="a" id="ir-a-registrarme" href="nuevo-usuario">Registrarme</a>
        </div>
    </div>
</main>
<!-- /.container -->

<!-- Boostrap core js -->
<script type="text/javascript" th:src="@{webjars/bootstrap/5.2.0/js/bootstrap.min.js}"></script>
</body>
</html>