<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>PLANES</title>
    <link th:rel="stylesheet" th:href="@{/webjars/bootstrap/5.2.0/css/bootstrap.min.css}"/>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap" rel="stylesheet">

    <!-- estilos -->
    <link rel="stylesheet" th:href="@{/css/home.css}"/>
    <link rel="stylesheet" th:href="@{/css/nav.css}"/>
    <link rel="stylesheet" th:href="@{/css/footer.css}"/>
    <link rel="stylesheet" th:href="@{/css/planes.css}"/>
</head>

<body>

    <div th:insert="fragmentos/nav :: barraNavegacion"></div>

    <main>
        
        <div th:if="${error}" class="alert alert-danger">
            <p th:text="${error}"></p>
        </div>
    
        
        <div class="plans-container">
    
            <!-- Plan Básico -->
            <div class="plan-card">
                <h2>Plan Básico</h2>
                <img th:src="@{imagenes/plan1.png}" class="img-plan" alt="Plan Básico">
                <p>Plan Básico: funciones básicas al registrarse.</p>
                <p class="price">Gratuito</p>
                
                <button class="btn btn-secondary disabled" disabled>Incluido</button>
            </div>
    
            <!-- Plan Avanzado -->
            <div class="plan-card">
                <h2>Plan Avanzado</h2>
                <img th:src="@{imagenes/plan2.png}" class="img-plan" alt="Plan Avanzado">
                <p>Con este plan puedes crear tus propias recetas y acceder a ellas.</p>
                <p class="price">$5 USD</p>
                <form th:action="@{/planes/compra}" method="post">
                    <input type="hidden" name="planId" value="2">
                    <input type="hidden" th:value="${usuarioId}" name="usuarioId">
                    <button type="submit" class="buy-btn btn btn-primary">Comprar</button>
                </form>
            </div>
    
            <!-- Plan Premium -->
            <div class="plan-card">
                <h2>Plan Premium</h2>
                <img th:src="@{imagenes/plan3.png}" class="img-plan" alt="Plan Premium">
                <p>Accede a todas las funcionalidades sin límites y disfruta de lo mejor de nuestras recetas.</p>
                <p class="price">$10 USD</p>
                <form th:action="@{/planes/compra}" method="post">
                    <input type="hidden" name="planId" value="3">
                    <input type="hidden" th:value="${usuarioId}" name="usuarioId">
                    <button type="submit" class="buy-btn btn btn-primary">Comprar</button>
                </form>
            </div>
        </div>
    
        <!-- Botón de cancelar -->
        <div class="actions">
            <a th:href="@{/home}" class="btn btn-secondary cancel-btn">Cancelar</a>
        </div>
    </main>
    

<div th:insert="fragmentos/footer :: footer"></div>

</body>


</html>